@charset "UTF-8";
@import url("https://use.typekit.net/bpt3jug.css");
html,
body {
  margin: 0;
  padding: 0;
}

html {
  font-size: 12pt;
}

body {
  max-width: 52rem;
  margin: 0 auto;
  padding: 0 0.75rem 0 0.75rem;
  background-color: #fff;
  font-family: source-serif-pro, serif;
  overflow-x: hidden;
}

header {
  max-width: 100%;
  margin-right: auto;
  margin-left: auto;
  border-bottom: solid 0.05px #0375b4;
  margin-bottom: 2rem;
}

.navbar {
  max-width: 100%;
  margin: 0 auto;
}

main,
footer {
  max-width: 100%;
  margin: 0 auto;
}

a.navbar-brand {
  font-family: margin-mvb, sans-serif;
  color: #0375b4;
  font-size: 2rem;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.6rem;
}

h1, h1 a:link, h2, h2 a:link, h3, h3 a:link, h4, h5, h6 {
  font-family: margin-mvb, sans-serif;
  font-weight: 600;
  color: #333333;
  text-transform: uppercase;
  padding-top: 1.668rem;
}

p, em, ul, ol, li, th, tr, td {
  font-family: source-serif-pro, serif;
  color: #333333;
  font-weight: 400;
  text-align: left;
}

h1 {
  font-size: 1.5rem;
}

h2, h2 a {
  font-size: 1.3rem;
  padding-top: 0;
}

h3 {
  font-size: 1.1rem;
}

p, ul, li, em {
  font-size: 1rem;
  line-height: 1.668;
}

ul {
  list-style-type: square;
}

a {
  text-decoration: none;
}

a:visited, a:link {
  color: #0375b4;
}

a:hover, a:active {
  color: #0375b4;
}

.nav-item {
  font-size: 10pt;
  text-transform: uppercase;
}

img, figure {
  max-width: 30rem;
  display: block;
  height: auto;
  margin-right: auto;
  margin-left: auto;
  margin-top: 1rem;
}

img + em, figcaption {
  color: #555555;
  font-size: 11pt;
  font-style: italic;
  text-align: center;
  padding-top: 0.25rem;
}

table {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-family: source-serif-pro, serif;
  font-size: 11pt;
  border-collapse: collapse;
}

th {
  font-weight: bold;
  background-color: #dee2e6;
  padding: 0 0.2rem 0 0.2rem;
}

td {
  border: 1px solid #dee2e6;
  padding: 0.2rem;
}

table.col1gallery {
  width: 75%;
  margin-bottom: 1rem;
}
table.col1gallery td {
  border: none;
  padding: 0 1rem 0 1rem;
  width: 100%;
}

table.col2gallery td {
  border: none;
  width: 50%;
}

table.col3gallery td {
  border: none;
  width: 33%;
}

table.col4gallery td {
  border: none;
  width: 25%;
}

blockquote {
  width: 100%;
  margin-top: 1rem;
  margin-bottom: 1.5rem;
  margin-left: 0;
  padding-left: 1rem;
  border-left: solid 0.1rem #0375b4;
}

blockquote p {
  font-style: italic;
  color: #555555;
  text-align: justify;
}

footer {
  margin-top: 3rem;
  padding-top: 2rem;
  margin-bottom: 2rem;
  padding-bottom: 2rem;
}

footer p, footer a {
  font-size: 11pt;
  text-align: left;
}

.social-media {
  text-align: left;
  padding-bottom: 1rem;
}

.social-media a {
  padding: 0 0.5rem 0 0.5rem;
  text-transform: uppercase;
}

@media print {
  html {
    font-size: 12pt;
  }
  body {
    max-width: 100%;
    padding: 0;
    background-color: #fff;
  }
  aside, form, video {
    display: none;
  }
  header {
    page-break-after: always;
  }
  h1, h2, h3, h4, h5, h6 {
    color: #000000;
    page-break-after: avoid;
  }
  h1 {
    string-set: title content();
  }
  h1 {
    page-break-before: always;
  }
  h2 {
    padding-top: 0;
  }
  /*h2:first-of-type {
   page-break-before: avoid;
  }*/
  p, em, ul, ol, li, th, tr, td {
    color: #000000;
  }
  p {
    /* Try to have at least the final three lines carry across to the next page*/
    widows: 3;
  }
  a {
    page-break-inside: avoid;
  }
  a:link, a:visited, a {
    color: #000000;
  }
  a::after {
    content: " ";
  }
  ul, ol, li, dl {
    page-break-before: avoid;
  }
  table {
    width: 95%;
    page-break-inside: avoid;
  }
  blockquote {
    page-break-inside: avoid;
  }
  footer {
    margin-bottom: 0;
    padding-bottom: 0;
  }
  .pagebreak {
    page-break-after: always;
  }
}
@page {
  font-family: source-serif-pro, serif;
  margin: 20mm;
  size: A4;
  counter-increment: page;
  @top-right {
    content: "Page " counter(page) " of " counter(pages);
    font-size: 10pt;
    color: #888888;
    vertical-align: middle;
  }
  @top-center {
    content: "";
  }
  @top-left {
    content: string(title);
    font-size: 10pt;
    color: #888888;
    vertical-align: middle;
    width: 100%;
  }
  @bottom-right {
    content: "Paul Dürnberger";
    font-size: 10pt;
    color: #888888;
    width: 100%;
    vertical-align: middle;
  }
  @bottom-center {
    background: #fff;
    content: "";
    display: block;
    height: 0.1mm;
    width: 100%;
    opacity: 0.6;
  }
  @bottom-left {
    content: "";
    font-size: 10pt;
    color: #888888;
    text-transform: uppercase;
    width: 100%;
    vertical-align: middle;
  }
}
@page :first {
  @top-left {
    background: none;
    content: "";
  }
  @top-center {
    content: none;
  }
  @top-right {
    content: none;
  }
}
@page :blank {
  @top-left {
    background: none;
    content: "";
  }
  @top-center {
    content: none;
  }
  @top-right {
    content: none;
  }
}
body {
  font-family: source-serif-pro, serif;
}

header {
  page-break-after: avoid;
}

em {
  color: #dc3545;
}

a::after {
  content: " (" attr(href) ")";
}

/*# sourceMappingURL=print-memo.css.map */
