// Import from Adobe Fonts
@import url("https://use.typekit.net/bpt3jug.css");

// Font Families
$font-family-sans:  margin-mvb, sans-serif;
$font-family-serif: source-serif-pro, serif;

$font-family-title: $font-family-sans;
$font-family-headings: $font-family-sans;
$font-family-text: $font-family-serif;

// Font Sizes
$font-size-normal: 11pt;
$font-size-small: 10pt;
$font-size-tiny: 9pt;
