// Colours
$blue:    #0375b4;
$indigo:  #6610f2;
$purple:  #6f42c1;
$pink:    #d63384;
$red:     #dc3545;
$orange:  #b46200;
$yellow:  #ffc107;
$green:   #198754;
$teal:    #20c997;
$cyan:    #0dcaf0;

// Grayscale
$white:    #fff;
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #888888;
$gray-700: #777777;
$gray-800: #555555;
$gray-900: #333333;
$black:    #000000;

// Colours
$background-color: $white;
$font-color: $gray-900;
$theme-color: $blue;

// Page Dimensions
$body-width: 52rem;
$content-width: 100%;

