// variations for documents that will be printed
@media print {
	html {
		font-size: $font-size-normal;
	}

    body {
        max-width: 100%;
        padding: 0;
        background-color: $white;
    }

    aside, form, video {
		display: none;
	}
    
    header {
        page-break-after: always; //push contents onto a new page
    }

    h1, h2, h3, h4, h5, h6 {
        color: $black;
		page-break-after:avoid;
	}

	h1 {
		string-set: title content();
	}

    h1 {
        page-break-before: always;
    }

	h2 {
		//page-break-before: always;
		padding-top: 0;
	}

    /*h2:first-of-type {
	    page-break-before: avoid;
    }*/

    p, em, ul, ol, li, th, tr, td {
        color: $black;
    }

	p {
		/* Try to have at least the final three lines carry across to the next page*/
		widows: 3;
	}

	a {
		page-break-inside: avoid;
	}

	a:link, a:visited, a {
		color: $black;
	}

	a::after {
		content: " ";
	}

	ul, ol, li, dl {
		page-break-before: avoid;
	}

    table {
        width: 95%;
		page-break-inside: avoid;
    }

	blockquote {
		page-break-inside: avoid;
	}

    footer {
		margin-bottom: 0;
		padding-bottom: 0;
    }

    .pagebreak {
        page-break-after: always;
    }
}

@page {
    font-family: $font-family-text;
    margin: 20mm;
    size: A4;
    counter-increment: page;
    
	@top-right {
		content: "Page " counter(page) " of " counter(pages);
	    font-size: $font-size-tiny;
        color: $gray-600;
	    vertical-align: middle;
	}

	@top-center {
		content: '';
	}

	@top-left {
		content: string(title);
		font-size: $font-size-tiny;
        color: $gray-600;
        vertical-align: middle;
		width: 100%;
	}

	@bottom-right {
		content: 'Paul Dürnberger';
		font-size: $font-size-tiny;
        color: $gray-600;
        width: 100%;
		vertical-align: middle;
	}

	@bottom-center {
		background: $white;
		content: '';
		display: block;
		height: 0.1mm;
		width: 100%;
		opacity: 0.6;
	}

	@bottom-left {
		content: '';
		font-size: $font-size-tiny;
        color: $gray-600;
        text-transform: uppercase;
		width: 100%;
		vertical-align: middle;
	}

}

@page :first {
	@top-left { background: none; content: '' }
	@top-center { content: none }
	@top-right { content: none }
}

@page :blank {
	@top-left { background: none; content: '' }
	@top-center { content: none }
	@top-right { content: none }
}
